In [1]:
#mean
import statistics
#initializing list
li=[1,2,3,3,2,2,2,1]
#using mean() to calculate average of list elements
print("The average of the list values is:",end="")
print(statistics.mean(li))

The average of the list values is:2

In [7]:
#median
from statistics import median
from fractions import Fraction as fr
data1=(2,3,4,5,7,9,11)
#tuple of floating point values
data2=(2.4,5.1,6.7,8.9)
#tuple of fractional numbers
data3=(fr(1,2),fr(44,12),fr(10,3),fr(2,3))
data4=(-5,-1,-12,-19,-3)
data5=(-1,-2,-3,-4,4,3,2,1)
#printing the median of above datasets
print("Median of data set 1 is %s"%(median(data1)))
print("Median of data set 2 is %s"%(median(data2)))
print("Median of data set 3 is %s"%(median(data3)))
print("Median of data set 4 is %s"%(median(data4)))
print("Median of data set 5 is %s"%(median(data5)))

Median of data set 1 is 5
Median of data set 2 is 5.9
Median of data set 3 is 2
Median of data set 4 is -5
Median of data set 5 is 0.0

In [15]:
#MODE
from statistics import mode
from fractions import Fraction as fr
#tuple of positive integer numbers
data1=(2,3,3,4,5,5,5,5,6,6,6,6,7)
#tuple of a set of floating point numbers
data2=(2.4,1.3,1.3,1.3,2.4,4.6)
#tuple of a set of fractional numbers
data3=(fr(1,2),fr(44,12),fr(10,3),fr(2,3))
#tuple of a set of a negative integers
data4=(-1,-2,-2,-2,-7,-7,-9)
#tuple of strings
data5=("red","blue","black","blue","black","black","brown")
#printing the mode of above datasets
print("Median of data set 1 is %s"%(statistics.multimode(data1)))
print("Median of data set 2 is %s"%(mode(data2)))
print("Median of data set 3 is %s"%(mode(data3)))
print("Median of data set 4 is %s"%(mode(data4)))
print("Median of data set 5 is %s"%(mode(data5)))

Median of data set 1 is [5, 6]
Median of data set 2 is 1.3
Median of data set 3 is 1/2
Median of data set 4 is -2
Median of data set 5 is black

In [10]:
#Range
arr=[1,2,3,4,5]
Maximum=max(arr)
Minimum=min(arr)
Range=Maximum-Minimum
print("Maximum={},Minimum={} and Range={}".format(Maximum,Minimum,Range))

Maximum=5,Minimum=1 and Range=4

In [12]:
#Variance
from statistics import variance
from fractions import Fraction as fr
sample1=(1,2,5,4,8,9,12)
sample2=(-2,-4,-3,-1,-5,-6)
sample3=(-9,-1,0,2,1,3,4,19)
# tuple of a set of fractional numbers
sample4 = (fr(1, 2), fr(2, 3), fr(3, 4),
fr(5, 6), fr(7, 8))
# tuple of a set of floating point values
sample5 = (1.23, 1.45, 2.1, 2.2, 1.9)
# Print the variance of each samples
print("Variance of Sample1 is % s " % (variance(sample1)))
print("Variance of Sample2 is % s " % (variance(sample2)))
print("Variance of Sample3 is % s " % (variance(sample3)))
print("Variance of Sample4 is % s " % (variance(sample4)))
print("Variance of Sample5 is % s " % (variance(sample5)))

Variance of Sample1 is 15.80952380952381
Variance of Sample2 is 3.5
Variance of Sample3 is 61.125
Variance of Sample4 is 1/45
Variance of Sample5 is 0.17613000000000006

In [13]:
from statistics import stdev
# importing fractions as parameter values
from fractions import Fraction as fr
# creating a varying range of sample sets
# numbers are spread apart but not very much
sample1 = (1, 2, 5, 4, 8, 9, 12)
# tuple of a set of negative integers
sample2 = (-2, -4, -3, -1, -5, -6)
# tuple of a set of positive and negative numbers
# data-points are spread apart considerably
sample3 = (-9, -1, -0, 2, 1, 3, 4, 19)
# tuple of a set of floating point values
sample4 = (1.23, 1.45, 2.1, 2.2, 1.9)
# Print the standard deviation of
# following sample sets of observations
print("The Standard Deviation of Sample1 is % s"
% (stdev(sample1)))
print("The Standard Deviation of Sample2 is % s"
% (stdev(sample2)))
print("The Standard Deviation of Sample3 is % s"
% (stdev(sample3)))
print("The Standard Deviation of Sample4 is % s"
% (stdev(sample4)))

The Standard Deviation of Sample1 is 3.9761191895520196
The Standard Deviation of Sample2 is 1.8708286933869707
The Standard Deviation of Sample3 is 7.8182478855559445
The Standard Deviation of Sample4 is 0.41967844833872525

In [12]:
from scipy import stats
y=[1,4,5,2,6]
result = scipy.stats.describe(y, ddof=1, bias=False)
result

DescribeResult(nobs=5, minmax=(1, 6), mean=3.6, variance=4.300000000000001, skewness=-0.23551393640880608, kurtosis=-1.9632233639805308)

In [13]:
result.nobs

5

In [14]:
result.minmax[0]

1

In [15]:
result.minmax[1]

6

In [16]:
result.mean

3.6

In [17]:
result.variance

4.300000000000001

In [18]:
result.skewness

-0.23551393640880608

In [19]:
result.kurtosis

-1.9632233639805308

In [29]:
import pandas as pd
z=[1,2,3,4,5]
df=pd.DataFrame(z)
result =df.describe()
result

              0
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [33]:
result.loc['mean']

0    3.0
Name: mean, dtype: float64

In [34]:
result.loc['std']

0    1.581139
Name: std, dtype: float64

In [35]:
 result.loc['min']

0    1.0
Name: min, dtype: float64

In [36]:
 result.loc['max']

0    5.0
Name: max, dtype: float64

In [37]:
 result.loc['25%']

0    2.0
Name: 25%, dtype: float64

In [38]:
 result.loc['50%']

0    3.0
Name: 50%, dtype: float64

In [39]:
 result.loc['75%']

0    4.0
Name: 75%, dtype: float64

In [64]:
import numpy as np
import pandas as pd
x = list(range(-10, 11))
y = [0, 2, 2, 2, 2, 3, 3, 6, 7, 4, 7, 6, 6, 9, 5, 5, 10, 11, 12, 14,15]
x_, y_ = np.array(x), np.array(y)
x__, y__ =pd.Series(x_), pd.Series(y_)
x__
y__

0      0
1      2
2      2
3      2
4      2
5      3
6      3
7      6
8      7
9      4
10     7
11     6
12     6
13     9
14     5
15     5
16    10
17    11
18    12
19    14
20    15
dtype: int32

In [65]:
n = len(x)
mean_x, mean_y = sum(x) / n, sum(y) / n
cov_xy = (sum((x[k] - mean_x) * (y[k] - mean_y) for k in range(n)) / (n - 1))
cov_xy

23.799999999999994

In [66]:
cov_matrix = np.cov(x_, y_)
cov_matrix

array([[38.5       , 23.8       ],
       [23.8       , 17.79047619]])