In [1]:
import numpy as np
import pandas as pd
array=np.array([3,np.nan,0,4,np.nan])
print(array)

[ 3. nan  0.  4. nan]

In [16]:
import numpy as np
import pandas as pd
data_string='''Id,Gender,Salary,Country,Company
1,Male,15000,India,Google
2,Female,45000,China,NaN
3,Female,25000,India,Google
4,NaN,NaN,Australia,Google
5,Male,NaN,India,Google'''
with open('salary.csv','w')as out:
    out.write(data_string)

In [17]:
df=pd.read_csv('salary.csv')
print('Salary Dataset:\n',df)

Salary Dataset:
    Id  Gender   Salary    Country Company
0   1    Male  15000.0      India  Google
1   2  Female  45000.0      China     NaN
2   3  Female  25000.0      India  Google
3   4     NaN      NaN  Australia  Google
4   5    Male      NaN      India  Google

In [18]:
print('Missing Data\n',df.isna())

Missing Data
       Id  Gender  Salary  Country  Company
0  False   False   False    False    False
1  False   False   False    False     True
2  False   False   False    False    False
3  False    True    True    False    False
4  False   False    True    False    False

In [19]:
print('Missing Data\n',df.isnull())

Missing Data
       Id  Gender  Salary  Country  Company
0  False   False   False    False    False
1  False   False   False    False     True
2  False   False   False    False    False
3  False    True    True    False    False
4  False   False    True    False    False

In [20]:
print('Filter based on columns:\n',df[df.isnull().any(axis=1)])

Filter based on columns:
    Id  Gender   Salary    Country Company
1   2  Female  45000.0      China     NaN
3   4     NaN      NaN  Australia  Google
4   5    Male      NaN      India  Google

In [21]:
print('Sum up the missing values:\n',df.isnull().sum())

Sum up the missing values:
 Id         0
Gender     1
Salary     2
Country    0
Company    1
dtype: int64

In [22]:
df.dropna(inplace=True)
print(df)

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [24]:
df["Salary"].fillna(20000,inplace=True)
print(df)

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [26]:
gender=pd.isnull(df['Gender'])
gender

0    False
2    False
Name: Gender, dtype: bool

In [27]:
print('Non Missing data\n',df.notnull())

Non Missing data
      Id  Gender  Salary  Country  Company
0  True    True    True     True     True
2  True    True    True     True     True

In [28]:
print('Drop Missing Data\n',df.Company.dropna())
df.dropna()

Drop Missing Data
 0    Google
2    Google
Name: Company, dtype: object

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [29]:
df.dropna(axis=1)
print(df)

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [31]:
new_df=df.dropna(axis=0,how='any')
print(new_df)

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [32]:
print('Fill missing data\n',df.fillna(0))

Fill missing data
    Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [33]:
print('Fill missing data\n',df.fillna(method='pad'))

Fill missing data
    Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [34]:
print('Fill missing data\n',df.fillna(method='bfill'))

Fill missing data
    Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [36]:
print('Fill Missing Data\n',df['Gender'].fillna("No Gender",inplace=True))

Fill Missing Data
 None

In [37]:
print(df.replace(to_replace="Google",value="Microsoft"))

   Id  Gender   Salary Country    Company
0   1    Male  15000.0   India  Microsoft
2   3  Female  25000.0   India  Microsoft

In [38]:
print(df.interpolate(method="linear",limit_direction='forward'))

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google